body{
    background-image: url(imgs/stars.jpeg);
    font-family: "nunito";
}
.blurb h2{
    color: #3b8bcc;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p{
    color: #beb5b8;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2.0;
}

hr{
    color: white;
}

.content{
    margin-top: 100px;
}
#mainNavbar .navbar-brand{
    color: #3b8bcc;
    font-size: 2rem;
}

#mainNavbar .nav-link{
    color:white;
}

#mainNavbar .nav-link:hover{
    color: #3b8bcc;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#headingGroup span{
    color: #3b8bcc;
}

#headingGroup h1{
    font-weight: 100;
    font-size: 3.5rem;
}

.navbar.scrolled{
    background: rgb(112, 111, 112);
    transition: background 500ms;
}
@media (max-width: 1200px){
    #headingGroup h1{
        font-weight: 100;
    font-size: 3rem;
    }
}